<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhhub.mapper.SysUserMapper">

    <select id="getNavMenuIds" resultType="java.lang.Long">
    SELECT DISTINCT rm.menu_id
    FROM sys_user_role ur
    LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
    WHERE ur.user_id = #{userId}
    </select>

    <insert id="addUser">
        INSERT INTO sys_user (username, email, phone, statu)
        VALUES
        (#{username},#{email},#{phone},#{statu})
    </insert>

    <delete id="delUser">
        delete  from sys_user where id = ${id}
    </delete>

    <update id="upUser">
         UPDATE sys_user SET username = #{username},email = #{email},statu = #{statu},phone = #{phone}
         WHERE sys_user.id = ${id}
    </update>



    <update id="upUserQx">
         UPDATE sys_user_role SET role_id = ${value}
         WHERE sys_user_role.user_id = ${id}
    </update>

</mapper>
